.footerBottom {
  margin-top: 23px;
  padding: 0 10px;
  @apply flex flex-row justify-between items-center container mx-auto;
}
.left {
  width: 35%;
  @apply flex flex-row items-center;
}
.right {
  width: 55%;
  @apply flex flex-row items-center;
}
.img {
  width: 78px;
  height: 78px;
  margin: 0 12px 0 0;
  object-fit: contain;
  border-radius: 4px;
}
.title {
  font-family: PlusJakartaSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #4a2072;
  margin-left: 12px;
}
.select {
  width: 325px;
  height: 61px;
  padding: 21px 12px 20px 19px;
  border-radius: 8px;
  border: solid 1px #d7d7d7;
  background-color: #fff;
  font-family: PlusJakartaSans;
  font-size: 16px;
  line-height: 1.25;
  color: #262624;
  @apply cursor-pointer outline-0 font-semibold inline-block font-bold tracking-normal;
}
.addCart_count {
  width: 128px;
  height: 62px;
  padding: 10px 12px;
  border-radius: 8px;
  border: solid 1px #d7d7d7;
  background-color: #fff;
  margin-left: 8px;
  @apply flex flex-row justify-between items-center;
}
.addCart_count_num {
  font-family: PlusJakartaSans;
  font-size: 18px;
  line-height: 1.33;
  color: #303030;
  @apply font-bold tracking-normal text-center;
}
.dis_minus {
  color: #d7d7d7;
  font-size: 18px;
  @apply cursor-pointer;
}
.act_minus {
  font-size: 18px;
  @apply cursor-pointer;
}
.addCartField {
  border-radius: 8px;
  background-color: #f8b84a;
  width: 231px;
  height: 62px;
  font-family: PlusJakartaSans;
  font-size: 18px;
  color: #4a2072;
  margin-left: 8px;
  @apply font-bold font-bold text-center leading-normal tracking-normal;
}
.amount_field {
  @apply flex flex-row justify-between items-center;
}

@media screen and (max-width: 1280px) {
  .footerBottom {
    margin-top: 23px;
    padding: 0 10px;
    @apply flex flex-col justify-center items-center container mx-auto;
  }
  .left {
    width: 80%;
  }
  .right {
    margin: 10px 0;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .footerBottom {
    padding: 0px;
    @apply flex flex-col justify-center items-center container mx-auto;
  }
  .left {
    width: 100%;
  }
  .right {
    margin: 10px 0;
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .right {
    padding: 0 20px;
    width: 100%;
    @apply flex flex-col items-center;
  }
  .amount_field {
    width: 100%;
    margin-bottom: 10px;
  }
  .addCartField {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .footerBottom {
    display: none;
  }

  .left {
    padding: 0 20px;
  }
  .select {
    width: auto;
    height: 61px;
    @apply px-[5px] overflow-hidden;
  }
  .img {
    width: 45px;
    height: 50px;
  }
  .title {
    font-size: 16px;
  }
}
