.wrapper {
  padding: 2.5rem 20px 0 20px;
  @apply flex flex-col justify-center container mx-auto;
}
.footerModal_field {
  @apply container;
}
.footerModal {
  position: absolute;
  bottom: 105px;
  right: 40%;
  left: 50%;
  width: 517px;
  height: 333px;
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  @apply flex flex-col;
}
.flexWrap {
  flex-wrap: wrap;
}
.packField {
  /* margin-top: 12px; */
  @apply flex flex-row flex-wrap;
}
.buySection {
  margin-top: 12px;
  @apply flex flex-row justify-between;
}
.width55 {
  width: 55%;
}
.urlText {
  font-family: PlusJakartaSans;
  font-size: 14px;
  color: #909090;
  @apply font-normal leading-normal tracking-normal;
}
.body {
  margin-top: 16px;
  @apply flex flex-col justify-center;
}
.title {
  font-family: PlusJakartaSans;
  font-size: 36px;
  line-height: 1.33;
  color: #4a2072;
  @apply font-bold leading-normal tracking-normal text-left;
}
.brand {
  font-size: 16px;
  line-height: 1.75;
  color: #3b3b3b;
  margin-top: 12px;
  @apply flex flex-row justify-between font-normal leading-normal tracking-normal;
}
.ImgSection {
  width: 581px;
  margin-bottom: 10px;
}
.ImgSection0 {
  width: 560px;
  margin-bottom: 10px;
}
.social_field {
  @apply flex flex-row justify-between items-center px-1;
}
.alignCenter {
  @apply flex flex-row justify-between items-center;
}
.margin24 {
  margin-left: 24px;
}
.marginLeft {
  font-size: 14px;
  color: #3b3b3b;
  margin-left: 3px !important;
}
.boldText {
  @apply font-bold;
}
.active_border_img {
  width: 120px;
  height: 120px;
  margin: 0 0 8px;
  object-fit: contain;
  border-radius: 12px;
  border: solid 1px #ea3e70;
  @apply flex flex-row justify-center items-center cursor-pointer;
}
.border_img {
  width: 120px;
  height: 120px;
  margin: 0 0 8px;
  object-fit: contain;
  border-radius: 12px;
  @apply flex flex-row justify-center items-center cursor-pointer;
}
.pack_active_border {
  max-width: 226px !important;
  height: auto;
  padding: 12px 38px 12px 16px;
  border-radius: 12px;
  /* border: solid 2px #ea3e70; */
  box-shadow: 0px 0px 0px 2px #ea3e70;
  background-color: #fff;
  overflow-wrap: break-word;
  overflow: hidden;
  @apply cursor-pointer mt-[12px];
}
.pack_border {
  max-width: 226px !important;
  height: auto;
  padding: 12px 38px 12px 16px;
  border-radius: 12px;
  /* border: solid 1px #d7d7d7; */
  box-shadow: 0px 0px 0px 1px #d7d7d7;
  background-color: #fff;
  overflow-wrap: break-word;
  overflow: hidden;
  @apply cursor-pointer mt-[12px];
}
.buy_left_border {
  width: 186px !important;
  height: 93px;
  padding: 20px 33px 21px 16px;
  border-radius: 12px;
  border: solid 1px #d7d7d7;
  background-color: #fff;
  @apply cursor-pointer;
}
.buy_right_border {
  width: 267px !important;
  height: 93px;
  padding: 20px 8px 20px 8px;
  border-radius: 12px;
  border: solid 1px #d7d7d7;
  background-color: #fff;
  @apply cursor-pointer;
}
.smallFontDisplayFlex {
  display: flex;
  align-items: center;
}
.active_border {
  border: solid 2px #ea3e70;
}
.select {
  margin-left: 5px;
  padding-bottom: 2px;
  @apply cursor-pointer outline-0 font-semibold inline-block focus:shadow-none border-t-0 border-l-0 border-r-0 border-b-2 focus:border-light_black focus:ring-0;
  border: none;
}
.select option {
  height: 50px;
  width: 300px;
}
.surity_imgField {
  @apply flex flex-row justify-between;
}
.flexRow {
  @apply flex flex-row justify-between;
}
.flexCol {
  @apply flex flex-col justify-center;
}
.price_review {
  @apply flex flex-row justify-between;
}
.flexItemCenter {
  @apply flex flex-row justify-between items-center;
}
.brand_body {
  @apply flex flex-row justify-between items-center;
}
.MenuSection {
  @apply flex flex-col;
}
.mt_32 {
  margin-top: 32px;
}
.addCartField {
  width: 324px;
  height: 62px;
  border-radius: 8px;
  background-color: #f8b84a;
  font-family: PlusJakartaSans;
  font-size: 18px;
  color: #4a2072;
  margin-top: 32px;
  @apply font-bold font-bold text-center leading-normal tracking-normal;
}
.addCartField:hover {
  background: #f3d299;
  border: 1px solid #f8b84a;
}
.brand_logo {
  margin-left: 19px !important;
  width: 92px !important;
  height: 28px;
}
.bigImg_item {
  width: 80% !important;
  position: relative;
  @apply mx-auto;
}

.favorite {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 55px;
  cursor: pointer;

  position: absolute;
  top: 12px;
  right: 12px;
}
.DecSection {
  width: 39%;
}
.reviewDec_text {
  margin-top: 2px;
  font-family: PlusJakartaSans;
  font-size: 16px;
  color: #909090;
  @apply tracking-normal leading-tight font-medium;
}
.reviewDec_count {
  font-family: PlusJakartaSans;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #303030;
  margin-top: 12px;
  @apply font-medium tracking-normal;
}
.mainPrice {
  font-family: PlusJakartaSans;
  font-size: 28px;
  line-height: 1.43;
  color: #000;
  @apply flex justify-start items-center tracking-normal font-bold;
}
.mainPrice_off {
  font-family: PlusJakartaSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #909090;
  margin: 0 4px 0 13px;
  text-decoration: line-through;
}
.percent_off {
  width: 67px;
  height: 21px;
  padding: 2px 6px 3px;
  border-radius: 4px;
  background-color: #ea3e70;
  font-family: PlusJakartaSans;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #fff;
}
.price {
  font-family: PlusJakartaSans;
  font-size: 20px;
  line-height: 1.2;
  color: #606060;
  margin-right: 12px;
  @apply tracking-normal font-bold;
}
.prodectDec {
  margin-top: 20px;
  font-family: PlusJakartaSans;
  font-size: 16px;
  color: #3b3b3b;
  @apply tracking-normal font-normal leading-6;
}
.packSize {
  margin-top: 32px;
  font-family: PlusJakartaSans;
  font-size: 18px;
  line-height: 1.56;
  color: #4a2072;
  @apply font-bold tracking-normal;
}
.active_smallFont {
  font-family: PlusJakartaSans;
  font-size: 14px;
  line-height: 1.71;
  color: #303030;
  @apply font-medium tracking-normal;
}
.smallFont {
  font-family: PlusJakartaSans;
  font-size: 14px;
  line-height: 1.71;
  color: #606060;
  margin-top: 4px;
  @apply font-medium tracking-normal;
}
.redFont {
  font-family: PlusJakartaSans;
  font-size: 14px;
  line-height: 1.71;
  color: #ea3e70;
  @apply font-medium tracking-normal;
}
.width50 {
  width: 45%;
}
.addCartText {
  padding: 19px 79px 20px 76px;
  border-radius: 8px;
  background-color: #f8b84a;
  font-family: PlusJakartaSans;
  font-size: 18px;
  color: #4a2072;
  @apply font-bold tracking-normal text-center;
}
.review {
  @apply flex flex-row items-center;
}
.reviewImg {
  width: 22px !important;
  height: 22px !important;
  margin: 0 2px;
}
.addCart_count {
  margin-top: 32px;
  width: 133px;
  height: 62px;
  padding: 10px 12px;
  border-radius: 8px;
  border: solid 1px #d7d7d7;
  background-color: #fff;
  @apply flex flex-row justify-between items-center;
}
.border {
  display: none;
  border-bottom: 1px solid #d7d7d7;
  margin: 0 -20px;
}
.addCart_count_num {
  font-family: PlusJakartaSans;
  font-size: 18px;
  line-height: 1.33;
  color: #303030;
  @apply font-bold tracking-normal text-center;
}
.dis_minus {
  color: #d7d7d7;
  font-size: 18px;
  @apply cursor-pointer;
}
.act_minus {
  font-size: 18px;
  @apply cursor-pointer;
}
.plus {
  font-size: 18px;
  @apply cursor-pointer;
}
.review_field {
  @apply flex flex-col justify-center;
}
.social_field2 {
  display: none;
}
.width {
  width: 100%;
}
.menuImg {
  width: 96%;
}

@media screen and (max-width: 1280px) {
  .width55 {
    width: 100%;
    margin: auto;
  }

  .DecSection {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
  .pack_border,
  .pack_active_border {
    width: 48% !important;
    @apply flex justify-between items-center;
  }
  .buy_left_border,
  .buy_right_border {
    width: 48% !important;
    @apply flex justify-start items-center;
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-family: PlusJakartaSans;
    font-size: 25px;
  }
}
@media screen and (max-width: 970px) {
  .ImgSection0 {
    width: 581px !important;
  }
}
@media screen and (max-width: 840px) {
  .ImgSection0 {
    width: 550px !important;
  }
}
@media screen and (max-width: 770px) {
  .mt_32 {
    margin-top: 0px;
  }
  .brand {
    padding: 0 50px;
    @apply flex flex-col font-normal;
  }
  .MenuSection {
    @apply flex flex-row;
  }
  .surity_imgField {
    @apply flex flex-col-reverse;
  }
  .ImgSection {
    width: 100%;
  }
  .bigImg_item {
    width: 288px;
  }
  .urlText {
    display: none;
  }
  .wrapper {
    padding: 0 20px;
  }
  .social_field {
    display: none;
  }
  .social_field2 {
    display: block;
    padding: 10px 36px;
    border-radius: 9px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 48px;
    margin-bottom: 40px;
    @apply flex flex-row justify-between;
  }
  .border {
    display: block;
  }
  .title {
    @apply text-center;
  }
  .active_border_img {
    border: solid 1px #ea3e70;
    height: 120px;
  }
  .border_img {
    border: none;
    height: 120px;
  }
  .ImgSection0 {
    width: 100% !important;
  }
}
@media screen and (max-width: 577px) {
  .pack_active_border {
    width: 100% !important;
    margin: 4px 0;
  }
  .pack_border {
    width: 100% !important;
    margin: 4px 0;
  }
  .active_border {
    width: 100% !important;
    margin: 4px 0;
  }
  .buy_left_border {
    width: 100% !important;
    margin: 4px 0;
  }
  .buy_right_border {
    width: 100% !important;
    margin: 4px 0;
  }
  .packField {
    @apply flex flex-col justify-between;
  }
  .buySection {
    @apply flex flex-col justify-between;
  }
  .addCart_count {
    width: 102px;
    height: 44px;
    padding: 3px;
  }
  .addCartField {
    width: 168px;
    height: 44px;
    font-size: 14px;
  }
  .bigImg_item {
    @apply !w-full;
  }

  .border_img {
    @apply h-[52px] overflow-hidden;
  }

  .active_border_img {
    @apply h-[52px] overflow-hidden;
  }

  .ImgSection {
    @apply relative;
  }

  .ImgSection0 {
    @apply relative;
  }

  .imgSliderDotsWrapper {
    position: absolute;
    bottom: 12px;
    left: 50%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    translate: -50%;
    align-items: center;
  }

  .imgSliderDotsWrapper .imgSliderDot {
    width: 4px;
    height: 4px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
  }

  .imgSliderDotsWrapper .imgSliderDotActive {
    width: 10px;
    height: 10px;
    border: solid 2px #ea3e70;
    background-color: #fff;
    border-radius: 50%;
  }
}
@media screen and (max-width: 460px) {
  .price_review {
    @apply flex flex-col justify-between;
  }
  .review_field {
    margin-top: 20px;
    @apply flex flex-row justify-start items-center;
  }
  .reviewDec_count {
    margin-top: 0%;
    margin-left: 10px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: 20px;
  }
  .bigImg {
    display: none;
  }
  .brand {
    padding: 0%;
  }
  .brand_body {
    @apply flex flex-col justify-center items-center;
  }
  .mt_32 {
    margin-top: 24px;
  }
  .prodectDec {
    margin-top: 28px;
  }
}
