$bookmark-up-margin: 8px;

.product-card {
    border-radius: 0.75rem !important;
    position: relative;
    margin-top: $bookmark-up-margin;
    &__bookmark {
        position: absolute;
        top: calc(-1 * #{$bookmark-up-margin});
        left: $card-spacer-x;
        &-top {
            position: relative;
            width: 100%;
            z-index: 1;

            &:after,
            &:before {
                content: "";
                position: absolute;
                top: 0;
                display: block;
                border: calc(#{$bookmark-up-margin} / 2) solid transparent;
            }
            &:after {
                left: calc(100%);
                border-left-color: darken(saturate($success, 0.58), 15.88);
                border-bottom-color: darken(saturate($success, 0.58), 15.88);
            }
            &:before {
                right: calc(100%);
                border-right-color: darken(saturate($success, 0.58), 15.88);
                border-bottom-color: darken(saturate($success, 0.58), 15.88);
            }
        }
        &-body {
            background-color: $success;
            position: relative;
            padding: calc(calc(#{$bookmark-up-margin} * 1.5) + #{$bookmark-up-margin}) $bookmark-up-margin $bookmark-up-margin;
            z-index: 3;
        }
        &-tail {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 1px;
            padding-top: calc(100% + 16px);
            clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
            background-color: $success;
            z-index: 2;
        }
    }
    .card-img-top {
        height: 246px;
        object-fit: contain;
        object-position: center;
        display: block;
        border-top-left-radius: $border-radius-lg;
        border-top-right-radius: $border-radius-lg;
    }

    &.loading {
        height: 580px;
    }
}
