.categories-menu {
    position: absolute;
    top: calc(100% + #{$spacer});
    left: calc(#{$grid-gutter-width} / 2);
    z-index: $zindex-alerts-wrapper + 9; // must be on top of everything but under alerts
    width: calc(100% - #{$grid-gutter-width});
    min-height: 1px;
    @include media-breakpoint-down(md) {
        height: auto;
        max-height: 500px;
    }
    .tab {
        &-content {
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            & > .active {
                overflow: hidden;
            }
        }
    }

    .card {
        &-columns {
            margin-top: calc(-1 * #{$border-width});
            column-count: 1;
            @include media-breakpoint-up(md) {
                column-count: 2;
            }
            @include media-breakpoint-up(lg) {
                column-count: 3;
            }
        }
        &-title {
            border-width: calc(#{$border-width} * 4);
        }
        &-body {
            ul.list-unstyled {
                li {
                    &:not(:last-of-type) {
                        margin-bottom: calc(#{$spacer} / 2);
                    }
                    a {
                        &:not(:hover):not(.active) {
                            color: $body-color;
                        }
                    }
                }
            }
        }
    }
}
