.products-showcase-section {
    .swiper {
        &-container {
            padding-bottom: #{$grid-gutter-width * 1.5};
            padding-top: 0;
            padding-right: calc(#{$grid-gutter-width}/ 2);
            padding-left: calc(#{$grid-gutter-width}/ 2);
            @each $breakpoint, $container-max-width in $container-max-widths {
                @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
                    padding-right: calc((100% - #{map-get($container-max-widths, $breakpoint)} + #{$grid-gutter-width}) / 2) !important;
                    padding-left: calc((100% - #{map-get($container-max-widths, $breakpoint)} + #{$grid-gutter-width}) / 2) !important;
                }
            }
        }
    }
}
