.root-header {
    background-color: $body-bg;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zindex-header;
    border-bottom: $border-width solid $border-color;
    @include transition($transition-base);

    & > .container-fluid {
        @include media-breakpoint-only(lg) {
            width: map-get($container-max-widths, lg);
        }
        @include media-breakpoint-up(xl) {
            @include make-container();
            max-width: calc(#{map-get($container-max-widths, xl)} + #{$grid-gutter-width * 6}) !important;
        }
    }

    .list-inline-item {
        .small {
            font-size: 0.6875rem;
            @include media-breakpoint-down(sm) {
                font-size: 0.625rem;
            }
        }
        &:not(:last-child) {
            @include media-breakpoint-down(md) {
                margin-right: $spacer / 2;
            }
        }
    }

    &__features-list {
        .list-inline {
            &-item {
                @include media-breakpoint-down(md) {
                    flex: 1 1 auto !important;
                }
            }
        }
    }

    &__nav-list {
        .list-inline {
            &-item {
                @include media-breakpoint-down(md) {
                    flex: 1 1 auto !important;
                }
                & > a {
                    @include media-breakpoint-down(md) {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    &__dropdown-nav {
        .dropdown {
            &-item {
                &:first-child {
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                }
            }
            &-menu {
                &.show {
                    opacity: 1 !important;
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                    width: 100% !important;
                }
            }
        }
    }

    &__search-form {
        @include media-breakpoint-down(md) {
            padding-right: 0;
            padding-left: 0;
            background-color: $light;
            .form-group {
                padding-right: $grid-gutter-width / 2;
                padding-left: $grid-gutter-width / 2;
                border-bottom: 0 !important;
            }
        }
        .dropdown {
            display: flex;
            align-items: center;
            position: initial;
            &-item {
                &:first-child {
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                }
            }
            &-menu {
                &.show {
                    opacity: 1 !important;
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                    width: 100% !important;
                }
            }
            &-toggle {
                height: 100%;
                &::after {
                    content: none !important;
                }
            }
        }
    }

    &--scrolling {
        width: 100%;
        @include transition($transition-base);

        @include media-breakpoint-up(lg) {
            position: fixed;
            &:not(.root-header--scrolling-down) {
                @include box-shadow($box-shadow);
            }
            &-up {
                animation: scrolling-up 0.7s;
            }

            &-down {
                animation: scrolling-down 0.7s;
                animation-fill-mode: forwards;
            }
        }
    }

    @keyframes scrolling-up {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0%);
        }
    }

    @keyframes scrolling-down {
        from {
            transform: translateY(0%);
        }
        to {
            transform: translateY(-100%);
        }
    }

    &__dropdown-nav {
        .nav-tabs {
            overflow-x: unset !important;
        }
    }

    .logo {
        @include media-breakpoint-up(lg) {
            position: relative;
            height: 100%;
            width: 100%;
            svg,
            img {
                position: absolute;
                max-height: 120%;
            }
        }
        @include media-breakpoint-only(lg) {
            margin-top: 10px;
        }
    }

    .nav {
        &-tabs {
            border-bottom: 0;
            .nav {
                &-item {
                    padding: 0;
                    &:not(:last-child) {
                        margin-right: map-get($spacers, 4);
                    }
                }
                &-link {
                    padding-right: 0;
                    padding-left: 0;
                    color: $body-color;
                    transition: $transition-base;
                }
                &-link,
                &-item.show .nav-link {
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                    border-bottom-width: #{$border-width * 3};
                    border-bottom-color: transparent;
                    background-color: transparent;
                }

                &-link.active:not(.dropdown-toggle),
                &-link:not(.dropdown-toggle):hover,
                &-link:not(.dropdown-toggle):focus {
                    border-bottom-color: $orange;
                    transition: $transition-base;
                }
            }
        }
    }

    .dropdown {
        &-toggle {
            &:after {
                @include dropdown-arrow();
            }
        }
        &-menu {
            margin-top: $border-width;
        }
    }
}
