.root-alerts {
	position: absolute;
	top: calc(100% + #{$spacer});
	right: $grid-gutter-width;
	z-index: $zindex-alerts-wrapper + 10; // must be on top of everything
	max-width: 50%;
	width: 35%;
	height: auto;

	@include media-breakpoint-down(lg) {
		width: 50%;
	}

	@include media-breakpoint-down(sm) {
		max-width: calc(100% - #{$grid-gutter-width});
		width: calc(100% - #{$grid-gutter-width});
		right: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		overflow-y: scroll;
		max-height: 100vh;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
}
