.static-page-content-section {
    ul,
    ol,
    dl {
        margin-left: $spacer;
    }
    li {
        padding-left: #{$spacer * 1.5};
        @include media-breakpoint-down(md) {
            padding-left: #{$spacer * 0.75};
        }
    }
    p {
        margin-bottom: $spacer;
        line-height: $line-height-lg;
    }
}
