export const APP_NAME = "Deal A Day";
export const APP_API_BASE_URL = "https://dealaday.karimkhamiss.com/api";
// export const APP_API_BASE_URL = "http://localhost:8000/api";
export const APP_DESCRIPTION = "application description goes here";
export const APP_KEYWORDS = "application keywords goes here";
export const APP_TOKEN_LOCAL_STORAGE_NAME = "token";
export const APP_USER_LOCAL_STORAGE_NAME = "user";
export const APP_LANG_LOCAL_STORAGE_NAME = "lang";
export const MOBILE_APP_GOOGLE_PLAY = "#";
export const MOBILE_APP_APPLE_STORE = "#";
export const FACEBOOK_APP_ID = "1107778269681819";
export const GOOGLE_APP_ID = "653611723825-41431i345kp3on9pj6eitnvujdvdjg8u.apps.googleusercontent.com";
export const GOOGLE_RECAPTCHA_SITE_KEY = "6LfPh5IaAAAAALf7ulnXVLHa1lfrfO4Trv4OaYpw";
export const GOOGLE_RECAPTCHA_SECRET_KEY = "6LfPh5IaAAAAAAu2G43UUIavms13sHYWZqtEpLKm";
export const DEBOUNCE_TIME_OUT = 250;
export const MOBILE_COUNTRY_CODE = "+2";
export const ADDRESS_COUNTRY_NAME = "Australia";
export const MOBILE_REGEX = RegExp(/^\+[0-9][0-9]\d{10}/);
export const URL_REGEX = RegExp(/((https?):\/\/)?(www.)?[a-z0-9-]+(\.[a-z]{2,}){1,3}(#?\/?[a-zA-Z0-9#-]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?$/);
export const PASSWORD_REGEX = RegExp(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/);
export const GOOGLE_RECAPTCHA_SITE_KEY = "6LfPh5IaAAAAALf7ulnXVLHa1lfrfO4Trv4OaYpw";
// Password regex
// /^
//      (?=.*?[A-Z])      	// At least one upper case English letter.
//      (?=.*[a-z])       	// At least one lower case English letter.
//      (?=.*?[0-9])      	// At least one digit.
//      .{8,}   			// Minimum eight in length.
// $/
