.MyRangeSlider {
  height: 7px;
  background-color: #eee;
  box-shadow: none;
  .rangeslider__fill {
    @apply bg-pink;
    box-shadow: none;
  }

  .rangeslider__handle {
    width: 26px;
    height: 26px;
    border: solid 2px #fff;
    box-shadow: none;
    @apply bg-pink;

    &::after {
      display: none;
    }
  }
}

#react-select-1-input {
  outline: none;
  box-shadow: none;
  border: none;
}
