.buttonWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(255 255 255);
  // box-shadow: 0px -30px 30px 45px rgb(255 255 255 / 90%);

  @apply lg:block hidden;
}

.bodyWrapper {
  font-family: PlusJakartaSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

  @apply p-[15px] m-[-15px] flex flex-row min-h-[620px];
}

.question {
  width: 100%;
  align-self: center;
}

.qSubHeading {
  @apply text-base text-darker-gray;

  b {
    @apply text-purple font-bold;
  }
}

.qMainHeading {
  @apply text-lighter-black font-bold lg:text-[28px] text-[20px];
}

.MyInputLWrapper {
  @apply w-full;
  position: relative;
  .MyInputL {
    @apply w-full border-0 px-0 py-[13px] text-pink;
    border-bottom: 1px solid #d8d8d8;

    font-family: PlusJakartaSans;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

    &:focus {
      @apply shadow-transparent outline-transparent shadow-none ring-0;
      border-color: #d8d8d8;
    }
  }

  .MyInputLSubLabel {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cfcfcf;
    background-color: #fff;
  }
}

.VisualOption {
  margin-right: 16px;
  padding: 42px;
  border-radius: 17.1px;
  border: solid 2.4px #c9c9c9;
  cursor: pointer;

  &.active {
    border-color: #ea3e70;
    background-color: #fff7f9;
  }
  @apply xl:p-[42px] lg:p-[35px] p-[17px];
}

.boxSelect {
  height: 68px;
  margin: 16px 0;
  padding: 19px 0 21px 33px;
  border-radius: 8px;
  border: solid 1px #dadada;
  background-color: #fdfaff;

  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #262624;
  cursor: pointer;

  &.active {
    background-color: #ea3e70;
    color: #fff;
  }

  @media (max-width: 1024px) {
    padding: 20px 30px;
    @apply text-base;
  }
}

.header {
  @media (min-width: 1024px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // box-shadow: 0px 30px 30px 45px rgb(255 255 255 / 90%);
  }
  background: rgb(255 255 255);

  @apply mb-29px lg:mb-0;
}

.title {
  @apply text-auth-bg-bottom text-xl sm:text-34px font-bold leading-normal;
}

.desc {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #5b5b5b;
}
