@mixin font-mixin($font-size, $font-weight, $color) {
  font-family: PlusJakartaSans;
  font-size: $font-size;
  font-weight: $font-weight;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color;
}

.btnPrimarySmall {
  @include font-mixin(14px, bold, purple);
  @apply bg-orange text-purple rounded-lg;

  &:hover {
    @apply shadow-btnPrimarySmall;
  }

  &:disabled,
  &[disabled] {
    filter: brightness(1.1);
    color: gray;
  }
}
