.nav {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: rgba(0, 0, 0, 0.06);
  @apply mx-auto flex flex-row justify-center content-center bg-white;
}
.nav a {
  transition: 0.4s;
}
.nav a:hover {
  opacity: 0.6;
}
.nav_body {
  @apply container mx-auto flex flex-row flex-nowrap justify-between content-center p-4 relative bg-white;
}

.logo {
  max-width: 129px;
  @apply flex content-center;
}

.menuButton {
  @apply cursor-pointer xl:hidden;
}

.cartButton {
  min-width: 24px;
  min-height: 24px;
  @apply flex content-center order-3 items-center;
}

.cartButton a {
  position: relative;
}

.cartButton a::after {
  position: absolute;
  content: attr(data-quantity);
  left: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  font-size: 11px;
  @apply bg-pink;
}

.cartButtonB {
  min-width: 24px;
  min-height: 24px;
  @apply flex content-center order-3 items-center;
}

.cartButtonB a {
  position: relative;
}

.cartButtonB img {
  filter: brightness(4);
}

.mobileClose {
  @apply text-right;
}

.mobileClose button {
  @apply p-5;
}

.mobileLogo {
  @apply text-center pt-12;
}

.rewards,
.call {
  @apply font-bold text-center relative;
}

.rewards:before,
.call:before {
  top: -2px;
  left: -32px;
  position: absolute;
  content: url('../public/img/header/crown.svg');
}

.call:before {
  content: url('../public/img/header/icon-call.svg');
}

.navWrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: none!important; */
  @apply fixed xl:flex xl:justify-around xl:h-fit xl:w-full xl:static xl:order-2 xl:items-center bg-white z-30;
}

.navLinks {
  @apply z-20 text-base w-full pt-3 flex flex-col xl:w-fit xl:flex-row xl:pt-0 xl:pl-24;
}

.navLinks > li {
  @apply text-center p-5 xl:p-4;
}

.avatar {
  width: 51px;
  height: 51px;
  border-radius: 25.5px;
  background-color: #eeecfb;
  @apply rounded-full flex items-center justify-center font-bold text-purple;
}

@screen lg {
  .logo {
    min-width: 170px;
    max-width: 170px;
  }
}
