.wrapper{
  

  .item{
    @apply relative grid grid-cols-1 items-center hover:shadow-product mx-auto w-[287px] px-[38px] py-4 my-3 rounded-[20px] bg-white border border-medium-white ;

    
    .item_img{
      @apply col-span-1 mx-auto w-[196px] h-[188px] mb-6 object-contain;
    }
    .textWrapper{
      .item_title{
        font-family: PlusJakartaSans;
        @apply col-span-1 font-bold tracking-normal leading-normal text-center text-base text-lighter-black;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
      .item_text{
        font-family: PlusJakartaSans;
        @apply col-span-1 font-normal tracking-normal leading-normal text-center mt-3 mb-6 text-sm text-lighter-black;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
    }
    .addCart_field{
      @apply col-span-1 flex flex-row justify-between items-center w-full;
      .price {
        font-family: PlusJakartaSans;
        @apply font-bold tracking-normal leading-normal text-base text-lighter-black;
      }
      .addcart{
        font-family: PlusJakartaSans;
        letter-spacing: 0.28px;
        @apply font-bold tracking-normal leading-normal text-center w-[136px] h-11 py-[5px] ml-[10px] rounded-lg bg-orange text-sm text-auth-bg-bottom;
      }
    }
    .popular{
      font-family: PlusJakartaSans;
      @apply text-center font-bold tracking-normal absolute rounded top-5 -left-[10px] w-[58px] h-[21px] py-[2px] px-[1px] bg-pink text-xs leading-[1.33] text-white;
    }
  }
}


