// Global
.main form {
  @apply mx-auto mt-[14px] mb-[36px];
}

.wrapper {
  @apply flex justify-center w-full;
}

.content {
  @apply w-full container mx-4 sm:mx-0;
}

.section_title {
  @apply lg:text-40px md:text-4xl sm:text-3xl text-xl font-bold text-purple;
}

.section_sub_title {
  @apply text-xl font-bold text-lighter-black;
}

.section_desc {
  @apply xl:text-base sm:text-sm text-base font-normal text-lighter-black;
}

.section_desc2 {
  @apply xl:text-base sm:text-sm text-base font-normal text-darker-gray;
}

// Page

.dogImgBg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pointsTable {
  @apply w-full text-base text-lighter-black border border-solid border-even-more-lighter-gray rounded-t-lg rounded-b-lg;
  line-height: 2.94;
  border-collapse: separate;

  tr {
    @apply grid grid-cols-3 w-full pl-[35px] border-b border-solid border-even-more-lighter-gray;

    &:last-child {
      @apply border-b-0;
    }

    td {
      @apply col-span-2;
    }
    td.points {
      @apply col-span-1 pl-0 text-center border-l border-solid border-even-more-lighter-gray font-bold text-pink;
    }
  }
}

// FAQ

.expandBtn {
  @apply flex items-center text-base font-bold text-pink;

  svg {
    @apply w-21px h-21px mr-10px;
  }
}

.faqBox {
  .faqItem {
    border-bottom: solid 1px #444346;
    padding-bottom: 40px;
    padding-top: 40px;

    &:last-child {
      @apply border-0;
    }

    &:first-child {
      padding-top: 0;
    }

    .disclosureButton {
      @apply flex w-full justify-between text-xl font-bold text-lighter-black text-left;

      .arrow {
        @apply text-lg;

        &.active {
          @apply rotate-180 transform;
        }
      }
    }
    .disclosurePanel {
      @apply xl:text-base sm:text-sm text-base font-normal text-lighter-black pt-17px;
    }
  }
}
