.mainBody {
  background-color: #fbf7ff;

  [type='checkbox']:focus,
  [type='radio']:focus {
    outline: none;
    outline-offset: none;
    box-shadow: none;
    border-color: #d1d1d6;
    color: #d1d1d6;
  }

  [type='checkbox']:hover,
  [type='radio']:hover {
    background-color: inherit;
    border-color: inherit;
  }
}

.wrapper {
  padding: 2.5rem 20px 0 20px;
  @apply flex flex-row flex-wrap justify-center container mx-auto;
}

.urlText {
  font-family: PlusJakartaSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #262624;
  flex: 0 0 100%;
  @apply font-normal leading-normal tracking-normal;
}

.flexNoWrap {
  flex-wrap: nowrap;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexRow {
  @apply flex flex-row justify-between;
}

.alignCenter {
  align-items: center;
}

.justifyStart {
  justify-content: start;
}

.pb_24 {
  padding-bottom: 24px;
}

.mt_14 {
  margin-top: 14px;
}

.mt_24 {
  margin-top: 24px;
}

.mr_12 {
  margin-right: 12px;
}

.mt_12 {
  margin-top: 12px;
}

.ml_75 {
  margin-left: 75px;
}

.pr_12 {
  padding-right: 12px;
}

.width60 {
  width: 60%;
}

.width30 {
  width: 30%;
}

.width40 {
  width: 40%;
}

.width50 {
  width: 50%;
}

.width25 {
  width: 25%;
}

.width20 {
  width: 20%;
}

.width10 {
  width: 10%;
}

.width100 {
  width: 100%;
}

.checkoutBox {
  padding: 32px 40px 40px;
  border-radius: 8px;
  border: solid 1px #e7e7e7;
  background-color: #fff;

  .checkoutBoxHeader {
    @apply mb-[12px] sm:mb-0;
  }
}

.checkoutBoxHeader {
  font-family: PlusJakartaSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000;
}

.urlText2 {
  margin: 0 8px 0 0;
  font-family: PlusJakartaSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6b6b6b;

  b {
    margin: 0 0 0 8px;
    font-family: PlusJakartaSans;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ea3e70;

    @apply font-bold;
  }
}

.formLabel {
  font-family: PlusJakartaSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #262624;
}

.formInput {
  margin: 6px 0 0;
  padding: 14px 238px 13px 16px;
  padding-right: 0px;
  border-radius: 4px;
  background-color: #f5f5f5;
  border-color: transparent;

  @apply w-full;
}

.checkoutCheckbox {
  font-family: PlusJakartaSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #000;

  [type='checkbox']:checked {
    padding: 6px 5px 7px 6px;
    border-radius: 2px;
    background-color: #f8b84a;
  }

  [type='checkbox'] {
    border-radius: 2px;
    border: solid 2px #d1d1d6;
  }
}

.checkoutSelect {
  select {
    margin: 6px 0 0;
    padding: 14px 238px 13px 16px;
    padding-right: 0px;
    border-radius: 4px;
    background-color: #f5f5f5;
    border-color: transparent;

    /* Replace Default styling (arrow) */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/img/cart-checkout/select-arrow.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 98%;
    background-size: 20px;

    @apply w-full;
  }
}

.payment_method_box_active {
  h4 {
    background-image: url('/img/cart-checkout/select-arrow-up.png') !important;
  }

  // background-position-y: 20% !important;
}

.payment_method_box {
  padding: 24px 32px 23px;
  border-radius: 8px;
  border: solid 1px #c2c2c2;

  // appearance: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // background-image: url('/img/cart-checkout/select-arrow.png');
  // background-repeat: no-repeat;
  // background-position-y: 50%;
  // background-position-x: 97%;
  // background-size: 20px;

  h4 {
    opacity: 0.5;
    font-family: PlusJakartaSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #000;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/img/cart-checkout/select-arrow.png');
    background-repeat: no-repeat;
    // background-position-y: 50%;
    background-position-x: 97%;
    background-size: 20px;
  }
}

.TotalOrder {
  // display: flex;
  // margin-top: 30px;
  // margin: 0 0 0 8px;
  font-family: PlusJakartaSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ea3e70;
}

.ContinueButton {
  width: 246px;
  max-width: 100%;
  height: 62px;
  // margin: 30px 0 0 20px;
  border-radius: 8px;
  background-color: #f8b84a;
  font-family: PlusJakartaSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.32px;
  text-align: center;
  color: #4a2072;

  &:disabled,
  &[disabled] {
    filter: brightness(1.1);
  }
}

.text_right {
  text-align: right;
}

.urlText3 {
  font-family: PlusJakartaSans;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #606060;
  margin: 12px 78px 0 0;
  display: block;
}

.payment {
  @apply border-2 rounded-lg border-dark-green bg-dark-green bg-opacity-10 flex  items-center px-2 my-6;
  .image {
    @apply min-w-[40px] h-10 flex justify-center items-center mx-3 my-3;
  }
  .description {
    @apply text-base font-bold text-medium_black;
  }
}

.order_title {
  font-family: PlusJakartaSans;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.order_desc {
  font-family: PlusJakartaSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6b6b6b;
}

.order_price {
  font-family: PlusJakartaSans;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
  color: #000;
}

.order_price_total {
  font-family: PlusJakartaSans;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: right;
  color: #000;
}

.order_item {
  padding-bottom: 24px;
  border-bottom: solid 1px #c2c2c2;
}

.order_img {
  position: relative;

  &::after {
    position: absolute;
    // content: '2';
    content: attr(data-quantity);
    top: 0;
    right: 0;

    width: 24px;
    height: 24px;
    // padding: 2px 6px 1px 8px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
  }
}

.discount_box {
  position: relative;
  height: 62px;
  // margin: 20px 117px 23px 0;
  .discount_input {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding: 20px 0 23px 20px;

    border-radius: 8px;
    border: solid 1px #c2c2c2;
    background-color: #fff;
  }

  .ContinueButton {
    position: absolute;
    max-height: 100%;
    right: 0;
    width: 30%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.order_summary {
  padding-bottom: 70px;
  position: relative;

  .rewards {
    padding: 8px 0;
    border-radius: 8px;
    background-color: rgba(247, 181, 0, 0.12);
    font-family: PlusJakartaSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;

    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

@media (max-width: 1024px) {
  .md_w_100 {
    width: 100%;
  }

  .md_text_left {
    text-align: left;
  }

  // .ContinueButton {
  //   margin-top: 12px;
  // }

  .md_mt_12 {
    margin-top: 12px;
  }
}

@media (max-width: 500px) {
  .sm_w_100 {
    width: 100%;
  }

  .sm_m_0 {
    margin: 0;
  }

  .sm_d_none {
    display: none;
  }

  .sm_p_0 {
    padding: 0;
  }

  .sm_mt_24 {
    margin-top: 24px;
  }

  .TotalOrder {
    text-align: center;
  }

  .urlText3 {
    margin-right: 0;
    text-align: center;
  }

  .payment_method_box {
    background-position-x: 90%;
  }

  .sm_text_center {
    text-align: center;
  }

  .discount_box {
    height: unset;

    .discount_input {
      height: unset;
    }

    .ContinueButton {
      position: unset;
      max-height: unset;
      right: unset;
      width: unset;
      border: 0;
      border-radius: 8px;
      height: unset;

      width: 246px;
      max-width: 100%;
      height: 62px;
      margin-top: 12px;
    }
  }

  // .discount_box {
  //   .ContinueButton {
  //     position: unset;
  //     max-height: 100%;
  //     right: unset;
  //     width: unset;
  //     border-top-left-radius: unset;
  //     border-bottom-left-radius: unset;
  //     border-radius: unset;
  //   }
  // }

  // .payment_method_box_active {
  //   background-image: url('/img/checkout/select-arrow-up.png') !important;

  //   background-position-y: 20% !important;
  // }
}

.deliveryAddressBox {
  .deliveryAddressItem:first-child {
    margin-top: 0;
  }

  .deliveryAddressItem:last-child {
    padding-bottom: 0;
    border: 0;
  }

  .deliveryAddressItem {
    margin-top: 24px;
  }
}

.deliveryAddressItem {
  @apply flex flex-row flex-nowrap sm:flex-wrap justify-between w-full pb-[24px];

  border-bottom: solid 1px #c2c2c2;

  label {
    @apply flex flex-row flex-nowrap sm:flex-wrap cursor-pointer;

    p {
      font-family: PlusJakartaSans;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.65;
      letter-spacing: normal;
      color: #262624;
    }
    input {
      @apply mr-[10px] mt-[4px];
      width: 20px;
      height: 20px;
      border: solid 2px #d1d1d6;
      border-radius: 50%;
      position: relative;

      &:focus {
        border-color: #f8b84a;
      }

      &:checked {
        background: none;
        border-color: #f8b84a;

        &::after {
          position: absolute;
          content: '';
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          background-color: #f8b84a;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }

        & + p {
          font-weight: bold;
        }
      }
    }
  }

  a {
    font-family: PlusJakartaSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #4a2072;
  }
}
